In [1]:
def test2(t,n,m):
    return t+n

In [2]:
# test2(3,2) This gives an error since we have given 2 parameters instead of 3.
test2(2,3,1)

5

### `Multiple "return" types.`

In [3]:
def test3(n,m):
    return n*10, m*40, m+n
# When we pass a multiple requirement, we get a return value as a Tuple.

In [4]:
test3(2,7)

(20, 280, 9)

In [5]:
c,x,v = test3(2,7)
print(c)
print(x)
print(v)

20
280
9

In [6]:
# If we dont want to create 3rd variable. Using a place holder(_)
c,x,_ =test3(2,7)
print(c)
print(x)
print(_)

#c,x =test3(2,7) # It gives error giving too amny values to unpack

20
280
9

In [7]:
def test4(n):
    return n*2

In [8]:
test4([3,4,5,6])

[3, 4, 5, 6, 3, 4, 5, 6]

In [9]:
test4(67)

134

### Multiple types of Defining the function.

In [10]:
def test9(n):
    return n,n*7

In [11]:
test9(40)

(40, 280)

In [12]:
test9([2,3,4,5])

([2, 3, 4, 5],
 [2,
  3,
  4,
  5,
  2,
  3,
  4,
  5,
  2,
  3,
  4,
  5,
  2,
  3,
  4,
  5,
  2,
  3,
  4,
  5,
  2,
  3,
  4,
  5,
  2,
  3,
  4,
  5])

In [13]:
# Defining a default value to a parameter inside a fucntion.
def test10(n,m=50):
    return n+m

In [14]:
print(test10(5))
print(test10(25))

55
75

In [15]:
# Even after passing a different value to a parameter it takes the recent given value.
test10(10,100)

110

In [16]:
def boolx(x= True, y =False):
    return y+x
boolx()

1

In [17]:
print(boolx(False)) # It is 0
print(boolx(False,7))

0
7

In [18]:
def travel(bike = True, car = False):
    plan_travel = bike or car
    return bike, car, plan_travel
travel()

(True, False, True)

In [19]:
# Changing and redefining the parameter value.
print(travel(car=True))
# OR
print(travel(True,True))

(True, True, True)
(True, True, True)

# Passing Multiple arguments.
# "*args" meant to pass any number of arguments
def test11(*args, a='dsb' ):
    return args

#### Passing Multiple Arguments.

In [20]:
# Can pass any number of arguments.
def test11(*args):
    return args
test11('data',28, [34,4,5])

('data', 28, [34, 4, 5])

In [21]:
def test12(a,b,c):
    return a+b+c

test12([1,2,3,4,5],[6,7,8],[9,10,11,12])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [22]:
def test9(*args):
    return args
test9([1,2,3,4,5],[6,7,8],[9,10,11,12],[13,14,15])

([1, 2, 3, 4, 5], [6, 7, 8], [9, 10, 11, 12], [13, 14, 15])

In [23]:
def test13(*args):
    l=[]
    for i in args:
        l.append(i)
    return l

In [24]:
test13([1,2,3],[4,5,6],[7,8,9],[10,11,12,13])

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12, 13]]

In [25]:
### 
def test13(*args):
    l=[]
    for i in args:
        l=l+i
    return l

In [26]:
test13([1,2,3],[4,5,6],[7,8,9],[10,11,12,13])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [27]:
### 
def test14(*args):
    lst =[]
    for i in args:
        if type(i)==list:
            lst=lst+i
    return lst

In [28]:
test14('data science',[1,2,3],[4,5,6],[7,8,9],[10,11,12,13])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [29]:
# kwargs --> Keyword Argument.
# In kwargs, we can provide any number of argument 
# in function but in the form of "Key & Value" and 
# it returns Dictionary internally. 
def test16(**kwargs):
    return kwargs
test16(a=8, b=17, c= 7, d=67)

{'a': 8, 'b': 17, 'c': 7, 'd': 67}

- `args returns Tuples`
- `kwargs returns Keyword Dictionary`

In [30]:
# Taking any datatype and should return all the values.
def test17(*args):
    return args
test17(4,5,6,7,'dst',[4,5,6,7])

(4, 5, 6, 7, 'dst', [4, 5, 6, 7])

In [57]:
# Function which takes both args & kwargs both and which do many operations.
# Q: It sould takes any number of *args and *kwargs and should have to do list value concatenation and return a 'list'. 

# LENGTHY
def test18(*args,**kwargs):
        a=[]
        b=[]
        c=[]
        d=[]
        e=[]
        f=[]
        for i in args, kwargs.items():
            if type(i)==int:
                a.append(i)
            elif type(i)==float:
                b.append(i)
            elif type(i)==str:
                c.append(i)
            elif type(i)==tuple:
                d.append(i)
            elif type(i)==list:
                e.append(i)
            else:
                f.append(i)
        return a,b,c,d,e,f

def funct1(*args):
    dt = {} # blank dict
    for i in args:
        if type(i) in dt: # if that type is in dt,
            dt[type(i)].append(i)
        else:
            dt[type(i)]=[i] # if dict type is not in then it creates that type 
    return dt
funct1(1,2,3,[4,5,6],'hi','io',6+7j)

{int: [1, 2, 3], list: [[4, 5, 6]], str: ['hi', 'io'], complex: [(6+7j)]}

In [32]:
test18(1,2,3, 3.14,2.67,'mac',(47,77),[22,56],a=99,b=19 )

([],
 [],
 [],
 [(1, 2, 3, 3.14, 2.67, 'mac', (47, 77), [22, 56])],
 [],
 [dict_items([('a', 99), ('b', 19)])])

In [45]:
# Returns ONLY Lists.
def funct2(*args,**kwargs):
    d=[]
    l =[i for i in args if type(i)==list]
    # OR
   #d=[i(i)for i in kwargs.items() if type(i)==list]] 
    for i in kwargs.items():
        if type(i)==list:
            d.append(i)
    return l,d

In [46]:
funct2(1,2,3, 3.14,2.67,'mac',(47,77),[22,56],a=99,b=19)

([[22, 56]], [])

In [49]:
def test19(**kwargs):
    return kwargs
test19(a=[1,2,3,4,5],b=6,c=6,d=7,e=78,f='machine',g=[4,5,6,7])

{'a': [1, 2, 3, 4, 5],
 'b': 6,
 'c': 6,
 'd': 7,
 'e': 78,
 'f': 'machine',
 'g': [4, 5, 6, 7]}

In [55]:
def test19(**kwargs):
    for i in kwargs.items():
        if type(i[1])==list: # i[1] means first element of i
            if 'machine' in i[1]:
                print('I am able to find the name in input data ')
                print()
                print(i[1])
    return kwargs
test19(a=[1,2,3,4,5],b=6,c=6,d=7,e=78,f=['machine','learning'],g=[4,5,6,7])

I am able to find the name in input data

['machine', 'learning']

{'a': [1, 2, 3, 4, 5],
 'b': 6,
 'c': 6,
 'd': 7,
 'e': 78,
 'f': ['machine', 'learning'],
 'g': [4, 5, 6, 7]}

#### Part:2

In [65]:
def test_a(**kwargs):
    print(kwargs.items())
test_a(a='float',b=7,c=3.14)
print('****************************************************')
def test_b(*args):
    print(args)
test_b('float',7,3.14)

dict_items([('a', 'float'), ('b', 7), ('c', 3.14)])
****************************************************
('float', 7, 3.14)

## `Anonymus Function / Lambda Expression`

In [67]:
def test(name, mail):
    return mail, name
test('FAS', 'x@y.com')

('x@y.com', 'FAS')

In [68]:
def test(name, mail):
    con = name+mail
    return mail, name, con
test('FAS', 'x@y.com')

('x@y.com', 'FAS', 'FASx@y.com')

In [71]:
a=10
b=20

def test1(x,y):
    return x+y
test1(a,b)

30

In [76]:
# Using Lambda.
# Syntax----> keyword(lambda), argument(x,y), operation(x+y)
m= lambda x,y : x+y
m(a,b)

30

In [77]:
m('ahmd','xy@.com')

'ahmdxy@.com'

In [79]:
b='ml'
c='test'
n= lambda arg1, arg2 : print(arg1 ,arg2)

n(b,c)

ml test

In [84]:
r =10
def test3(a,b):
    r =a/b
    print(r)
test3(100,10)

10.0

### `Doc String`.
 - Its an explaination for a particular function by a developer.
 - A doc string can be accessed using **shift+tab** or **help(funct_name)** on the function name.

In [89]:
def test4():
    '''
    This is a sample fucntion to understand the use and 
    implementation of a doc string concept inside a function.
    
    '''
    
    print('This is to create a "Doc String" inside a fucntion.')
test4()

This is to create a "Doc String" inside a fucntion.

In [90]:
# A doc string can be accessed using "shift+tab" or 
# "help(funct_name)" on the function name.
help(test4)

Help on function test4 in module __main__:

test4()
    This is a sample fucntion to understand the use and
    implementation of a doc string concept inside a function.

In [93]:
def test4(a,b):
    '''
    This is a sample fucntion to understand the use and 
    implementation of a doc string concept inside a function.
    a= This is a first parameter.
    b= This too is a parameter which takes an arhument when
    when funtion is called.
    '''
    
    print('This is to create a "Doc String" inside a fucntion.')
test4(a,b)
print(help(test4))

This is to create a "Doc String" inside a fucntion.
Help on function test4 in module __main__:

test4(a, b)
    This is a sample fucntion to understand the use and
    implementation of a doc string concept inside a function.
    a= This is a first parameter.
    b= This too is a parameter which takes an arhument when
    when funtion is called.

None

### `Iterators and Generators`

# 'int' object is not iterable.
a=10
for i in a:
    print(i)

In [97]:
for i in 'mach':
    print("'",i,"'")

' m '
' a '
' c '
' h '

In [100]:
# "Iterator" is a kind of a object/ entity out of which one can 
# able to extract data using indexes
# "Iterable" is a kind of a object which is able to extract the data

In [109]:
s ='mach'
s=iter(s)
# "str" is not iterable, but when called using iter() it
# becomes iterable object

In [110]:
print(next(s))
print(next(s))
print(next(s))
print(next(s))
# If again next iterable is given then it gives 'Stop Iteration' error.

m
a
c
h

In [2]:
def test4(n):
    l = []
    for i in range(n):
        l.append(i)
    return l
test4(5)

[0, 1, 2, 3, 4]

In [11]:
l =[]
f = [l.append(i) for i in range(5)]
print(l)

[0, 1, 2, 3, 4]

### `Generator`

In [13]:
def test5(n):
    for i in range(n):
        yield i**3
test5(30)

**Generator Object**:  
- A generator is a special type of function which does not return a single value, instead, it returns an iterator object with a sequence of values. 
- In a generator function, a yield statement is used rather than a return statement.
- **'Yield'**: It's a keyword used to return from a function without destroying the states of its local variable and when the function is called, the execution starts from the last yield statement.

In [14]:
# 'yeild' keyword in the function helps to return the output with
# with the help of statements defined in the specified function.
for i in test5(30):
    print(i)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389

### `Fibonacci Series`

In [30]:
# Generating a Fibonacci Series.
# Method:1
def genfib(n):
    a=0
    b=1
    output = []
    for i in range(10):
        output.append(a)
        a,b=b, a+b # Inline operation
    return output

In [31]:
genfib(4)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [36]:
# Fibonacci Series using Generator.
# Method:2
def genfib(n):
    a=1
    b=1
    for i in range(7):
        yield a
        a ,b =b, a+b
genfib(6)

In [37]:
for i in genfib(10):
    print(i)

1
1
2
3
5
8
13

## `File Operations`

In [1]:
 # Creating a New File.
f= open('demo.txt', 'w') # 'w' is one of the mode, which means writing a file.

In [2]:
f.write(" This is a text file to write the data.")

39

In [3]:
f.close() # This closes the file which we opened initially.

In [4]:
f =open('demo.txt')

In [5]:
f.read()

' This is a text file to write the data.'

In [6]:
f.seek(10) # It seeks data from 10th position. Cursor will be at 10th position.

10

In [7]:
f.read() # Since seek is given at 10, it starts reading from 10th position.

' text file to write the data.'