-

In [1]:
# The first python program.
# print 'Hello World!'
print('Hello, World!')

Hello, World!

In [2]:
# print is a function. 
# To call a function in python we provides the things we needed to print inside the parenthesis

In [3]:
# Some more Examples on 'print'
print(1+2)
print(7*6)
print()

# can add multuiple strings
print("The end", "or is it", "Keep practicing ")

3
42

The end or is it Keep practicing

In [4]:
# Expressions.

a=12
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) # Integer division, rounded down towards minus infinity
print(a%b)  # Remainder operator 

print()

15
9
36
4.0
4
0

In [5]:
i=1
print(i)
i=2
print(i)
i=3
print(i)

1
2
3

In [6]:
# Instead of above operations we have range function to print continously.
# range function. From given below we have range of nos from 1 to 3
for i in range(1,4):
    print(i)

1
2
3

In [7]:
for i in range(1, a//b):
    print(i)

1
2
3

In [8]:
print(a+b/3-4*12)

-35.0

#### `Escape Characters`.

In [9]:
splitString = "This string has been \nsplit over\nseveral\n lines"
print(splitString )

This string has been
split over
several
 lines

In [10]:
tabbedstring = "1\t2\t3\t4\t5"
print(tabbedstring)

1	2	3	4	5

In [11]:
print("""The pet shop owner said "No, no, 'e's uh,...he's resting". """)

The pet shop owner said "No, no, 'e's uh,...he's resting".

## `Variables and Types`
- When a program's running, everything the program needs ends up stored in the computer's memory. The program's code itself will be stored in one area of the memory and the data it works on will also be stored somewhere in memory.

- A **Variable** is basically just a way to give a (meaningful)name to an area of memory, into which we can place certain values.

#### Examples.

In [13]:
greeting= "Hello "
name = input("Please enter your name ")
print(greeting + name)

Please enter your name Ahmed
Hello Ahmed

In [14]:
# If we need to add space we can add empty string.
print(greeting +''+name)

Hello Ahmed

-  When we create a variable `'greeting'`, python allocates an area of memory for us. Because we created greeting by attaching it to a string value, Python also decided that 'greeting' was a variable of type string and ensures that we can only do things with it that make sense for strings.
-  Rules for Variable names:
   - Python variable names must begin with a letter (either upper case or lower) or an underscore_character.
   - They can contain letters, numbers or underscore characters (but **cannot begin with a number**)
   - Variables are created when they are first attached to a value, using **=**

In [15]:
# In the 'int' format.
age = 24
print(age)

24

-  Type we also called as datatype which says the **kind of information we are storing**.

In [16]:
print(type(greeting))
print(type(age))

<class 'str'>
<class 'int'>

In [18]:
age_in_words = "24"
print(age_in_words)
print(type(age_in_words))

24
<class 'str'>

`With same name of variable  we can assign same value to the variable but in the different data type.`

In [19]:
#print(name + " is "+ (age) + " years old.")

### `String Concatenation`

### `TypeError: must be str, not int`
- In syntax if we won't specify the str  for age the it gives type error in the above code.
-- `It concatenates only "str" but not "int"`

In [20]:
print(name + " is "+ str(age) + " years old.")

Ahmed is 24 years old.

### `Built-in` Data types.
Python has several **`built-in`** data types, that can be classified as:
-  `numeric`
- `iterator`
- `sequence` (which are also iterators)
- `mapping`
- `file`
- `class`
- `exception`

### `numeric` data types
- **`int`**: The python interger data type is called as `int`. 
  - Integres are just whole numbers- where numbers having `no fractional part`
- **`float`**: Float is another name for real numbers where numbers having a fractional part after the decimal point.
- **`complex`**: Complex numbers contain a real and an imaginary part, based on the square root of minus one.

### `Numeric Operators.`

In [21]:
a=12
b=3

print(a+b) # 15
print(a-b) # 9
print(a*b) # 36
print(a/b) # 4.0
print(a//b) # 4 integer division, roinded down towards minus infinity.
print(a%b) # 0 modulo: the remainder after integer division.

15
9
36
4.0
4
0

In [22]:
print() # Empty line
for i in range(1,4):
    print(i)

1
2
3

In [23]:
for i  in range(1, a//b):
    print(i)

1
2
3

### `Expressions`
- In python an expression can be anything that can be calculated.

In [24]:
for i in range(1, a//b): # a//b is an  expression given inside the code.It evaluates 
    print(i)
# i is not an expression but a value bound to each of the values produced by range.

1
2
3

### `Operator Precedence`
- Relative importance given to each of the operators.

In [26]:
print(a+b/3-4*12)
print(a+(b / 3) -(4 * 12))

-35.0
-35.0

#### Method:1

In [27]:
print((((a+b)/3)-4)*12)

12.0

#### Method:2

In [28]:
c= a+b
d= c/3
e= d-4
print(e*12)

12.0

### `Operator Precedence Acronyms.`
- **`PEMDAS`**: Parenthesis,Exponents, Multiplication / Division, Addition / Subtraction.
- **`BEDMAS`**: Brackets, Exponents, Division / Multiplication, Addition / Subtraction.
- **`BODMAS`**: Brackets, order, Division / Multiplication, Addition / Subtraction.
- **`BIDMAS`**: Brackets, Index, Division / Multiplication, Addition / Subtraction.

In [29]:
print(a/(b*a)/b)

0.1111111111111111

### `The str String Data Type.`

In [31]:
# Index positioning

#         012345678901234
parrot = "Norwegian Blue"

In [32]:
print(parrot)

Norwegian Blue

In [33]:
# Printing individual character.
print(parrot[3])

w

In [34]:
# Indexing is accessed using [].
print(parrot[13])

e

In [35]:
# Get 'we win' from parrot variable.

In [36]:
print(parrot[3])
print(parrot[4])
print(parrot[9])
print(parrot[3])
print(parrot[6])
print(parrot[8])

w
e

w
i
n

- Negative Indexing Strings: `We start counting from -1`.

In [37]:
print(parrot[-1])

e

In [38]:
print(parrot[-14])

N

#### Method:1

In [39]:
# Get 'We win' using Negative indexing.

parrot = "Norwegian Blue"
print(parrot[-11])
print(parrot[-10])
print(parrot[-5])
print(parrot[-11])
print(parrot[-8])
print(parrot[-6])

w
e

w
i
n

#### Method:2

In [40]:
print(parrot[3-14])
print(parrot[4-14])
print(parrot[9-14])
print(parrot[3-14])
print(parrot[6-14])
print(parrot[8-14])

w
e

w
i
n

## `Slicing.`

In [41]:
# Starts from 0th position but not including 6th position.
print(parrot[0:6])

Norweg

In [42]:
print(parrot[3:5])

we

In [43]:
print(parrot[0:9])
print(parrot[:9]) # Even without using Start index position number it gives same result.

Norwegian
Norwegian

In [44]:
print(parrot[10:14])
print(parrot[10:]) 
print(parrot[0:9])
print(parrot[:9]) # Even without using end index position number it gives same result.

Blue
Blue
Norwegian
Norwegian

In [45]:
print(parrot[:6] + parrot[6:])

Norwegian Blue

In [46]:
print(parrot[:])

Norwegian Blue

### `Slicing with Negative Numbers.`

In [48]:
print(parrot[0:6])

Norweg

In [49]:
print(parrot[-4:-2])
print(parrot[-4:12])

Bl
Bl

In [50]:
print(parrot[:])

Norwegian Blue

### `Using a Step in a Slice.`

In [51]:
print(parrot[0:6:2])
print(parrot[0:6:3])

Nre
Nw

In [52]:
number = "9,223,372,036,854,775,807"

In [53]:
print(number[1::4])
# Starts from the position '1' which is first ',' and slicing every 4th character.

,,,,,,

In [54]:
numbers = "9223372036854775807"

In [55]:
# Printing alternate value from the string.
print(numbers[0::2])

9232384787

In [56]:
number = "9,223;372:036 854,775;807"
print(number[1::4])

,;: ,;

### `Slicing Backwards.`

In [58]:
letters = "abcdefghijklmnopqrstuvwxyz"

In [59]:
backwards = letters[25:0:-1]
print(backwards)

zyxwvutsrqponmlkjihgfedcb

In [60]:
backwards = letters[25::-1]
print(backwards)

zyxwvutsrqponmlkjihgfedcba

In [61]:
backwards = letters[::-1]
print(backwards)

zyxwvutsrqponmlkjihgfedcba

In [62]:
# Slice the string to produce the last 8 characters, in the REVERSE Order.
print(letters[:-9:-1])

zyxwvuts

In [63]:
# To print last 4 letters 
print(letters[-4:])

wxyz

In [64]:
# To get last item by specifying '-1'
print(letters[-1:])

z

In [65]:
print(letters[:1])
print(letters[0])

a
a

## `String Operations.`
Python 3 has `5 sequence types built in`:
- The string type
- list
- tuple
- range
- bytes and bytearray

`Sequence` is defined as an ordered set of items.

- A **list** is also a sequence type. For example ['computer', 'mouse', 'keyboard', 'mouse mat']

In [67]:
computer_parts = ['computer','mouse','keyboard','monitor','mouse pad']

In [68]:
computer_parts[0]

'computer'

In [69]:
# To access fiorst element of the list and even first letter of the element.
computer_parts[0][0]

'c'

### `String Concatenation.`

In [70]:
string1= "he's "
string2= "probably "
string3="pining "
string4="for the "
string5= "fjords"

In [71]:
print(string1+string2+string3+string4+string5)

he's probably pining for the fjords

#### Lists and tuples can also be multiplied.

In [72]:
print("Hello "*5)

Hello Hello Hello Hello Hello

In [73]:
print("Hello "*(5+4) )
print("Hello " *5 + "4")

Hello Hello Hello Hello Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello 4

#### ` "in" in another`

In [74]:
today="friday "
print("day" in today)
print("fri"in today)
print("fry" in today)

True
True
False

### `String Replacement Fields`
- When printing strings and numbers, it would often be convinient to display both values using a single call to print. We've often seen that numbers **can't** be concatenated with strings using **+**, as the presence of a numer instructs Python to attempt addition, and that fails.
- One approach we could take is to coerce our numbers into string, using the **str** function.

In [76]:
age = 24
print("My age is " +str(age) + " years.")

My age is 24 years.


### `.format`

In [77]:
print("My age is {0} years. ".format(28))

My age is 28 years.

In [78]:
print("There are {0} days in {1}, {2}, {3}, {4}, {5}, {6} and {7}".format(31,"Jan", "Mar", "May", "Jul", "Aug", "Oct", "Dec"))

There are 31 days in Jan, Mar, May, Jul, Aug, Oct and Dec

### `or`

In [86]:
print("There are {0} days in Jan, Mar,May,Jul, Aug, Oct, Dec".format(31))

There are 31 days in Jan, Mar,May,Jul, Aug, Oct, Dec

In [79]:
print("My age is {0} years." .format(26))

My age is 26 years.

In [83]:
print("My father age is {0} years. \nMy mother age is {1} years. \nMy age is {2} years. \nMy brother age is  {3} years.".format(60,51,26,22))

My father age is 60 years.
My mother age is 51 years.
My age is 26 years.
My brother age is  22 years.

In [89]:
print("Jan: {2}, Feb: {0}, Mar:{2}, Apr:{1}, May: {2}, Jun: {1}".format(28,30,31))

Jan: 31, Feb: 28, Mar:31, Apr:30, May: 31, Jun: 30

In [97]:
print("""Jan:{2}
Feb:{0}
Mar:{2}
Apr:{1}
May:{2}
Jun:{1}
Jul:{2}
Aug:{2}
Sep:{1}
Oct:{2}
Nov:{1}
Dec:{2}""".format(28,30,31))

Jan:31
Feb:28
Mar:31
Apr:30
May:31
Jun:30
Jul:31
Aug:31
Sep:30
Oct:31
Nov:30
Dec:31

### `String Formatting`

In [108]:
for i in range(1,11):
    print("No.{0} squared is {1} and cubed is {2}".format(i, i ** 2, i ** 3))

No.1 squared is 1 and cubed is 1
No.2 squared is 4 and cubed is 8
No.3 squared is 9 and cubed is 27
No.4 squared is 16 and cubed is 64
No.5 squared is 25 and cubed is 125
No.6 squared is 36 and cubed is 216
No.7 squared is 49 and cubed is 343
No.8 squared is 64 and cubed is 512
No.9 squared is 81 and cubed is 729
No.10 squared is 100 and cubed is 1000

In [111]:
for i in range(1,11):
    print("No.{0:2} squared is {1:3} and cubed is {2:4}".format(i, i ** 2, i ** 3))
    # {0:2} 2 is specified to include 2 digit space
    # {0:4} 4 is specoified to include 4 digit space.

No. 1 squared is   1 and cubed is    1
No. 2 squared is   4 and cubed is    8
No. 3 squared is   9 and cubed is   27
No. 4 squared is  16 and cubed is   64
No. 5 squared is  25 and cubed is  125
No. 6 squared is  36 and cubed is  216
No. 7 squared is  49 and cubed is  343
No. 8 squared is  64 and cubed is  512
No. 9 squared is  81 and cubed is  729
No.10 squared is 100 and cubed is 1000

In [115]:
print()

for i in range(1,11):
    print("No.{0:2} squared is {1:3} and cubed is {2:4}".format(i, i ** 2, i ** 3))

print()

No. 1 squared is   1 and cubed is    1
No. 2 squared is   4 and cubed is    8
No. 3 squared is   9 and cubed is   27
No. 4 squared is  16 and cubed is   64
No. 5 squared is  25 and cubed is  125
No. 6 squared is  36 and cubed is  216
No. 7 squared is  49 and cubed is  343
No. 8 squared is  64 and cubed is  512
No. 9 squared is  81 and cubed is  729
No.10 squared is 100 and cubed is 1000

## `f-strings.`

In [121]:
name ="Ahmed"
age =25
print()
print(name + f" is {age} years old.")

Ahmed is 25 years old.