RESERVED WORDS IN PYTHON
- 33 researved words in Python, all reserved words contains only ALPHABET Symbols.
- True, False,None (starts with Capital only 3 words)
- and, or, not,is (rest all are lower case)
- if,else,elif
- while, for,break, continue,return, in, yeild
- try,except,finally,raise,assert
- import,from,as,class,def,pass,global,nonlocal,lambda,del,with

In [1]:
import keyword

In [2]:
# kwlist is MODULE
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## DATA TYPES

Represents Type of data present in variable.There are 14 inbuilt data types.

- int:-To represent whole number, "Without decimal points".(10,20,30).
  -  This is Integral Datatype.
  

- float:-To represent floating point value
  - Eg: 10.12,  25.17 etc..
  
  
- complex:-To calculate Scientific approaches.


- Bool:-Logical values TRUE/FALSE


- Str:-To represent String
    - 'Python','machine learning'...
    
    
- bytes:- A group of Byte values


- bytearray:-Similar to Bytes


- range:- To represent a range of numbers.


- list:- A group of values.


- tuple:- Its also a list of values which are immutable.


- set:-List of values without duplicates


- frozenset:-List of values without duplicates but "We can't modify"


- dict:- Key value pair.


- None:- Nothing.

### int:

In [3]:
a=10

In [4]:
print(a)
print(type(a))
id(a)

10
<class 'int'>

1706061152

In [5]:
x=28

In [6]:
x

28

In [7]:
type(x)# This gives type of data

int

In [8]:
# To check where the object is stored
id(x)

1706061728

In [9]:
a=10+2j
b=20-1j

In [10]:
a+b

(30+1j)

### Inbuilt Functions in Python.

- Python provides some inbuilt functions.


- "print",  "type", "id"  are 3 inbulit function.


- In python everything is an OBJECT including int, float etc. i.e internally every thing is represented as reserved memory as an object.


- To check where the object is stored in the system, we use id(x), id means address.


- Slice(Substring) Operator: making Parts from a single string, with     the help of indexing to the string.
- Variable[BEGIN INDEX:END INDEX]; returns from begin index to end -1     index
- variable[BEGIN:STOP:STEP]

In [11]:
s='window'

In [12]:
# POSITIVE INDEX: From Right to Left.
s[0]

'w'

In [13]:
s[2]

'n'

In [14]:
s[5]

'w'

In [15]:
# NEGATIVE INDEX: From right to left
s[-1]

'w'

In [16]:
s[-2]

'o'

In [17]:
s[0:4]

'wind'

In [18]:
s[1:]

'indow'

In [19]:
s[0:]

'window'

In [20]:
s[:3]

'win'

In [21]:
s[:-1]

'windo'

In [22]:
t='windowslaptops'

In [23]:
# Start:Stop:Step
t[2:8:2]

'nos'

- REPETATION OPERATOR

In [24]:
# Repetation Operator.
s='laptop'

In [25]:
10*s

'laptoplaptoplaptoplaptoplaptoplaptoplaptoplaptoplaptoplaptop'

In [26]:
# To Find the Length of the string
len(s)

6

- NOTE:
- Python's Fundamental datatypes are int, float, complex, bool and str.
- 'char' datatype is not available in Python but these values are         represented as 'str'only
- 'long' datatype is available in 'python2',but not in 'Python3'.

#### Type casting or Type coersion.
- Conversion from one data type to other.
- Inbuilt Functions for conversions are int(), float(), complex(),       bool() and str()

In [27]:
# int():
int(1234.555) # This converts float to int.

1234

In [28]:
float(1234) #this converts from int to float.

1234.0

In [29]:
#int(10+20j) 
 # We cant convert complex to int.

In [30]:
int(True) # In python integer of a True is 1

1

In [31]:
int(False) # In Python integer of Flase is 0

0

In [32]:
#True(20) #Boolean object is not callable

In [33]:
str(24) # String to Integer

'24'

In [34]:
str(24.556) #String to float

'24.556'

In [35]:
#float('ahmed') Float to string is not convertable

In [36]:
#float(10+20j) We get Type Error.

In [37]:
z=10

In [38]:
print(z)

10

In [39]:
type(z)

int

In [40]:
id(z)

1706061152

### Bool.

In [41]:
## Boolean of 0 is always false
## Boolean for any non-zero is True
bool(0)

False

In [42]:
bool(25)

True

In [43]:
# Boolean for all numbers to b zero is False.
bool(0.0000)

False

In [44]:
bool(0.012)

True

#### Immutable.
- Immutable vs Fundamental Data types.


-  All Fundamentable data types are immutable(non-changeable) i.e we  cant perform any changes in that.

In [45]:
x=10

In [46]:
x=11

In [47]:
# Internally new object is created but original 'x' value of 10 is not changed.
print(x)

11

In [48]:
y=10

In [49]:
print(x)
print(y)
print(id(x))
print(id(y))

11
10
1706061184
1706061152

In [50]:
x=10
y=10
z=10

In [51]:
print(id(x))
print(id(y))
print(id(z))

1706061152
1706061152
1706061152

### Lists.
- order is important
- Duplicates are allowed.
- Heterogeneous are allowed
- Growable
- Values should be enclosed in square brackets.[]

In [52]:
a=[]

In [53]:
type(a)

list

In [54]:
id(a)

2647148486536

In [55]:
# To add values for the lists.
a.append(10)

In [56]:
a

[10]

In [57]:
a.append(20)

In [58]:
a

[10, 20]

In [59]:
print(a)

[10, 20]

In [60]:
a.append('python')

In [61]:
a

[10, 20, 'python']

In [62]:
a.append(7)

In [63]:
a.append(2.303)

In [64]:
a

[10, 20, 'python', 7, 2.303]

In [65]:
print(a[2])
print(a[3])
print(a[4])

python
7
2.303

In [66]:
# List is Growable.
s=['10','python',True]

In [67]:
s1=s*2
s1

['10', 'python', True, '10', 'python', True]

In [68]:
type(s1)

list

In [69]:
id(s1)

2647148434760

In [70]:
print(s1)

['10', 'python', True, '10', 'python', True]

### Tuple.
- Tuple is "immutable" (interview).
- Rest of concepts are same as 'Lists'.
- () are always used.

In [71]:
l=[10,20,30,40,]
t=(10,20,30,40,)

In [72]:
l.append(25)

In [73]:
l

[10, 20, 30, 40, 25]

In [74]:
t=(10,""'python'"",True,10)

In [75]:
t

(10, 'python', True, 10)

In [76]:
t[0]

10

In [77]:
t[1]

'python'

In [78]:
t[0:3]

(10, 'python', True)

In [79]:
t1=t*2

In [80]:
t1

(10, 'python', True, 10, 10, 'python', True, 10)

### Range.
- Most commonly used Datatype.
- Represents a sequence of values.
- Elements of range are immutable.

#### Form-1:
- range(n)- represents values form 0 to n-1

In [81]:
r=range(10)

In [82]:
type(r)

range

In [83]:
id(r)

2647148543744

In [84]:
print(r)

range(0, 10)

In [85]:
for i in r:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [86]:
print(r[0])
print(r[2])
print(r[2:])

0
2
range(2, 10)

In [87]:
for k in r:
    print(k)

0
1
2
3
4
5
6
7
8
9

#### Form-2: 
- range(10,30)

In [88]:
t=range(10,30)
t

range(10, 30)

In [89]:
for k in t:
    print(k)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

#### Form-3:
- range(50)

In [90]:
s=range(50)
s

range(0, 50)

In [91]:
for i in s:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [92]:
# Start, Stop, Step.
f=range(10,50,5)
f

range(10, 50, 5)

In [93]:
for i in f: print(i)

10
15
20
25
30
35
40
45

In [94]:
for i in range(10,50,3): print(i)

10
13
16
19
22
25
28
31
34
37
40
43
46
49

### Set.
- Duplicates can be added but internally only once is considered.
- "Index & slicing" is not applicable because internally order is not available.
- Heterogeneous objects are allowed.
- Mutable
- 'Append' is for list and 'add' is for Set.

In [95]:
s={10,20,30}
s

{10, 20, 30}

In [96]:
# duplicates can be added but internally only once is considered.
t={10,20,30,10,20}
t

{10, 20, 30}

In [97]:
type(s)

set

In [98]:
id(s)

2647133498952

In [99]:
# Set indexing and Slicing is not supported.

#s[0]

In [100]:
# Heterogeneous objects are allowed.
far={'ahmed',True,2,3.147}

In [101]:
type(far)

set

In [102]:
help(far)

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [103]:
far.add(25)

In [104]:
far.add(75)

In [105]:
far.remove(25)

In [106]:
far

{2, 3.147, 75, True, 'ahmed'}

In [107]:
s={'python','anaconda','jupyter'}
for i in range(10):
    print(s)

{'python', 'anaconda', 'jupyter'}
{'python', 'anaconda', 'jupyter'}
{'python', 'anaconda', 'jupyter'}
{'python', 'anaconda', 'jupyter'}
{'python', 'anaconda', 'jupyter'}
{'python', 'anaconda', 'jupyter'}
{'python', 'anaconda', 'jupyter'}
{'python', 'anaconda', 'jupyter'}
{'python', 'anaconda', 'jupyter'}
{'python', 'anaconda', 'jupyter'}

In [108]:
def f1():
    a=10

In [109]:
def f2():
    print("Hello Don't be like None")

In [110]:
f1()

In [111]:
# For No values it gives 'None' value.
print(f1())

None

In [112]:
f2()

Hello Don't be like None

In [113]:
print(f2())

Hello Don't be like None
None

### Escape Characters. 
- '\ n': To print in next line
- '\ t': To print after few space
- '\ r'
- '\ b'
- '\ f'
- '\ ''
- '\ "'
- '\\'

In [114]:
f='machine\nlearning'
f

'machine\nlearning'

In [115]:
print(f)

machine
learning

In [116]:
g='machine\tlearning'
g

'machine\tlearning'

In [117]:
print(g)

machine	learning

## Operators.
- Arithmetic operator
- Relational Operators or Comparators Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Special Opertors.

###  - Arithmetic Operator
- +Addition Operator

- -Subtraction Operator

- *Multiplication Operator

- / Division Operator

- % Module Operator


##### Special Operators in Arithmetic Operators
- '//' is also Division Operator called as "Floor Division Operator"
- '**' is exponential Operator or Power Operator

In [118]:
a=10
b=2
print("a+b=",a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a/b=",a/b) # Division Operator in python always generates 'float' value 
print("a%b=",a%b) # It gives Remainder Value.
print("a//b=",a//b) # Floor Division can work for both 'int' and 'float' type
print("a**b=",a**b) # Power Operator

a+b= 12
a-b= 8
a*b= 20
a/b= 5.0
a%b= 0
a//b= 5
a**b= 100

In [119]:
id(a)

1706061152

In [120]:
type(a)

int

In [121]:
import math

In [122]:
math.ceil(287.885)

288

In [123]:
math.floor(287.885)

287

In [124]:
#Ceil() and floor() take just one parameter - the number to round. 
#Ceil() takes the number and rounds it to the nearest integer above its current value, whereas .


#floor() rounds it to the nearest integer below its current value
# Division and Floor Division.
p=10.5
q=2
print(p/q)
print(p//q)
# If both are int it gives int; if both are float then it gives float

5.25
5.0

### -Relational Operators

- Gives true or False Based on input values.
- Chaining of Relational Operators is Possible.

In [125]:
a=10
b=20
print("a>b=",a>b)
print("a>=b=",a>=b)
print("a<b=",a<b)
print("a<=b=",a<=b)

a>b= False
a>=b= False
a<b= True
a<=b= True

In [126]:
# Relational Operators in Strings gives true or False Based on 
                      ##"Alphabetical of the String"
a='python'
b='kite'
print("a>b=",a>b)
print("a>=b=",a>=b)
print("a<b=",a<b)
print("a<=b=",a<=b)

a>b= True
a>=b= True
a<b= False
a<=b= False

In [127]:
a=10
b=20
if(a>b):
    print("A is Greater than B")
else:
    print("A is not Greater than B")

A is not Greater than B

In [128]:
#Chaining of Relational Operators is Possible.

# If Every Comparision is True, then result is True
# If any Comparision os False, then result is False.

print(10<20<30<40<50<60)

print(10>20>30>40>50>60)

True
False

### -Logical Operators

##### For BOOLEAN Types.

- and: If Both are True then result will be True
- or: If any one Arguement is True then result will be True
- not: It gives Opposite result.

##### For Non-BOOLEAN Types

- For 0 means 'False'
- For non-0 means 'True'
- For empty string means 'True' i.e '  ' (lenght of string is 0)

In [129]:
# BOOLEAN Types.

print(True and False)
print(True or False)
print(not True)
print(not False)

False
True
False
True

In [130]:
# Non-BOOLEAN Types with x and y.

# 1. AND
## If 'x' evaluates to False then the result is 'x', otherwise its y

10 and 20

20

In [131]:
10 and 10

10

In [132]:
0 and 10

0

In [133]:
1 and 'python'

'python'

In [134]:
0 and 'python'

0

In [135]:
0 and ''

0

In [136]:
'python' and 'ml'

'ml'

In [137]:
# 2. "or"

## If 'x' is evaluates to True then result is 'x' else returns 'y'
10 or 20

10

In [138]:
0 or 20

20

In [139]:
0 or 0

0

In [140]:
# not : If result is True, it gives output as False and vise-versa

not 10

False

In [141]:
not ''

True

In [142]:
 not 0

True

In [143]:
0 or True

True

### - Bitwise Operators.

- & (and)

- | (or)

- ^ (x or(Exclusive or) mostly x of)

- ~ (Complement)

- << (Right Shift)

- '>>'(Left Shift)

###### These can be applied for only 'int' and 'boolean'

In [144]:
4&5

4

In [145]:
True & False

False

- & : If both bits are 1 then result is 1 else 0

- | : If atleast one bit is 1 result is 1 else 0

- ^ (Exclusive or Operator): If both arguements are different then 1 else 0
- ~ (Bitwise Compliment Operator): 1 will be replaced with 0 and 0 will be replaced with 1.

- '<<' (Bitwise Left shift Operator):

- '>>'(Bitwise Right shift Operator):

In [146]:
 4 & 5

4

In [147]:
4 | 5

5

In [148]:
f=range(0,51)
for k in f:
    print(k)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [149]:
my_list=['aa',2.3,4,True,True, True]

my_tuple=('aa',2.3,4,True,True,True)

my_set={'aa',2.3,4,True,True}

In [150]:
type(my_list)

list

In [151]:
print(my_list)
print(my_set)
print(my_tuple)

['aa', 2.3, 4, True, True, True]
{True, 2.3, 4, 'aa'}
('aa', 2.3, 4, True, True, True)

In [2]:
k=[2,3,4,5,6,7,8,9]
for i in k:
    if i % 2==0:
        print(k)

[2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]

In [153]:
x=30 if 10<20 else 40
print(x)

30

In [154]:
## Ternary operator

a,b=10,20
x=30 if a>b else 40
print(x)

40

In [155]:
## Special Oerator--1. Identity Operator & 2. Membership Operator.

### Membership Operator.
list_1=[10,20,30]

print(10 in list_1)
print(60 in list_1)            
print(80 in list_1)

True
False
False

In [156]:
s='Hello Learning python is very easy'

print('Hello' in s)
print('L'in s)
print('Z' in s)
print('Z'not in s)

True
True
False
True

### 'math' Module(Library)

In [157]:
# This is part of Python library.
import math

In [158]:
print(math.sqrt(16))

4.0

In [159]:
print(math.pi)

3.141592653589793

### Aliasing: 
- Creating duplicate name for our module .

In [160]:
import math as m

# Below are functions in math module.
# sqrt(),floor(),ceil(),pow(x,y),facrorial(),gcd(),sin().....

In [161]:
print(m.sqrt(7525))
print(math.sqrt(7525)) # Can use Original name also

86.74675786448736
86.74675786448736

In [162]:
# Even u can import required functions from packages.
from math import pi, sqrt

In [163]:
math.floor(258.222)

258

 x=input('anaconda')
    ## Inside input, It always treats as string only.
    # String is default type for the input function.

type(x)

In [164]:
x

40

#### Flow Control:

- Order in which the statements are going to execute is called flow control .
-  There are 3 Types

- 1. Conditional/Selection Statements:if; if-else; if-elif-else;

- 2. Iterative statements: A group of statements are required to execute iteratively.
   -  Loops- for loop and while loop
   -  do while and switch statements are not available in python

- 3. Transfer Statements: To transfer the control from one place to another place.
   - In python 3 Transfer statements are available
    -  break; continue and pass

### Conditional Statements.



#####   'If ' Statement.
- if condition:
  
  print()

In [165]:
#name=input('enter name')
name='Farooq'
if name=='Farooq':
    print('Hello Farooq')
print('How are you')

Hello Farooq
How are you

#### 'if-else'   Statement
- if x:
  
  action-1
   else:
   
   action-2

In [166]:
x='ahmed'
if x=='farooq':
    print('Hi Gud Morning')
else:
    print('hello Gud Morning')

hello Gud Morning

####  'if-elif-else'  Statement
- if(x)
  
  {
         
   }
   
  
  else if(y)
  
  {
  
  
   }
   
   
   else if(z)
  
  {
  
  
  }

In [167]:
#brand=input('Enter your favourite brand')
brand='FO'
if brand=='RC':
    print('It is Children brand')
    
elif brand=='KF':
    print('It is not kick')
    
elif brand=='KO':
    print('It is too light')
    
elif brand=='FO':
    print('Buy one get one free')
    
else:
    print('Other brand are not recommended')

Buy one get one free

In [168]:
k==7;

if k==1:
    print('Error1')
elif k==3:
    print('Error2')
elif k==5:
    print('Error3')
elif k==7:
    print('This is output')
else:
    print('Not in range')

Not in range

### Program to find biggest of two given numbers.

In [169]:
n_1=5
n_2=7

if n_1>n_2:
    print('This is wrong output')
else :
    print('This is correct number')

This is correct number

In [170]:
n_1=3
n_2=13
n_3=7
if n_1>n_2:
    print('This is wrong output')
elif n_2<n_3:
    print('This is incorrect output')
elif n_3>n_1:
    print('This is valid output')

This is valid output

### Program to check whether the given numbers is between 1 to 10

In [ ]:
n=(0,1)

if n==0:
    print('Zero')
elif n==1:
    print('One')

### Iterative Statements.
- To execute a group of statements repeatedly.

### Loops.

- 1. For Loop.

- 2. While Loop.

- 'for' eachelement in sequence:  
       do some action
       
     (sequence=string, list, tuple, set, range.....)

## Flow Control ----> Infinite Loops

- Loops Executes infinite times without stopping.

# Loops Executes infinite times without stopping.

i=1
while True: # Directly taking true means this body should continue executing
    print('Hello',i)
    i=i+1
# This will continue infinite times.

### Nested Loops:
- Loop inside another loop.

In [172]:
for i in range(3):
    for j in range(2):
        print("Hello")
        
# For i=0:    
#    j=0 ---> Hello
#    j=1 ---> Hello
# For i=1:
#    j=0 ---> Hello
#    j=1 ---> Hello
# For i=2:
#    j=0 ---> Hello
#    j=1 ---> Hello

Hello
Hello
Hello
Hello
Hello
Hello

In [173]:
for i in range(3):
    for j in range(2):
        print('i={},j={}'.format(i,j))

i=0,j=0
i=0,j=1
i=1,j=0
i=1,j=1
i=2,j=0
i=2,j=1

# FOR LOOP.

In [174]:
s='jupyter notebook'

# to print every character in s.

for i in s:
    print(i)

j
u
p
y
t
e
r

n
o
t
e
b
o
o
k

In [175]:
s='jupyter notebook'
count=0
for i in s:
    count+=1
    print(i)
print('The number of characters:',count)

j
u
p
y
t
e
r

n
o
t
e
b
o
o
k
The number of characters: 16

In [3]:
s='jupyter notebook'
count=0
for i in s:
    count+=1
print('The length of variable s in', count)

The length of variable s in 16

In [5]:
s= 'machine learning'
count=0
for x in s:
    count+=1
print('The length of variable s is', count)

The length of variable s is 16

In [11]:
s='analytics'
count=0
for x in s:
    count+=1
print("The number of characters in 's' is", count)

The number of characters in 's' is 9

In [176]:
print(len(s))

16

In [177]:
l=[10,20,30,40,50]
for i in l:
    print(i)

10
20
30
40
50

In [15]:
t='machine'
i=0
for k in t:
    print('The characters present in',k,'is',i)
    i+=1

The characters present in m is 0
The characters present in a is 1
The characters present in c is 2
The characters present in h is 3
The characters present in i is 4
The characters present in n is 5
The characters present in e is 6

In [14]:
t='artificial'
i=0
for x in t:
    i+=1
print("The characters present in 't' is", i)

The characters present in 't' is 10

# range()----> o to (n-1)

In [179]:

for x in range(4):
    print('Hello')

Hello
Hello
Hello
Hello

In [180]:
# to print numbers from 0 to 10
t=range(11)
for i in t:
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [181]:
# Both methods are same.
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

#### To Print Even Numbers.

In [182]:
for x in range(21):
    if x%2==0:
        print(x)

0
2
4
6
8
10
12
14
16
18
20

In [183]:
# Using Start, Stop, Step Technique.
for x in range(0,21,2):
    print(x)

0
2
4
6
8
10
12
14
16
18
20

#### To Print Odd Numbers.

In [184]:
for x in range(21):
    if x%2!=0:
        print(x)

1
3
5
7
9
11
13
15
17
19

In [185]:
# other method using step method.
# Start, Stop, Step. 
for x in range(1,21,2):
    print(x)

1
3
5
7
9
11
13
15
17
19

In [186]:
# Decreasing Numbers

for x in range(10,1,-1):
    print(x)

10
9
8
7
6
5
4
3
2

In [187]:
lst=[10,20,30,40,50]
sum=0
for x in lst:
    sum=sum+30
    print('The sum:', sum)

The sum: 30
The sum: 60
The sum: 90
The sum: 120
The sum: 150

# WHILE LOOP.

- Iterations in advance , To execute group of statements iteratively unless the condition is **True**, we opt 'While Loop'.

### Examples for WHILE LOOP

In [188]:
# print numbers 1 to 10 numbers using while loop.
x=1 # Starting from 1.
while x<=10:
    print(x)
    x+=1 # Incrementing the values for each iteration

1
2
3
4
5
6
7
8
9
10

In [189]:
x=1
while x<=15:
    print(x)
    x+=2 # Incrementing the values for each iteration

1
3
5
7
9
11
13
15

In [190]:
for x in range(1,16,2):
    print(x)

1
3
5
7
9
11
13
15

In [191]:
# To find the sum of first n numbers.
n=15
num=0
i=1
while i<=n:
    num= num +i
    i+=1
    print("The sum of first", n, "numbers:",num)

The sum of first 15 numbers: 1
The sum of first 15 numbers: 3
The sum of first 15 numbers: 6
The sum of first 15 numbers: 10
The sum of first 15 numbers: 15
The sum of first 15 numbers: 21
The sum of first 15 numbers: 28
The sum of first 15 numbers: 36
The sum of first 15 numbers: 45
The sum of first 15 numbers: 55
The sum of first 15 numbers: 66
The sum of first 15 numbers: 78
The sum of first 15 numbers: 91
The sum of first 15 numbers: 105
The sum of first 15 numbers: 120

n=int(input('Enter some number:'))
sum=0 # Default sum value will be 0
i=1 # Because sum of first 'n' numbers starts from 1.
while i<=n:
    sum=sum+i # this keeps on adding current i value.
    i+=1 # Incrementing i value bu 1 number
    print("The sum of first",n,"numbers is",sum)

In [192]:
n=4
sum=0 # Default sum value will be 0
i=1 # Because sum of first 'n' numbers starts from 1.
while i<=n:
    sum=sum+i # this keeps on adding current i value.
    i+=1 # Incrementing i value bu 1 number
    print("The sum of first",n,"numbers is",sum)

The sum of first 4 numbers is 1
The sum of first 4 numbers is 3
The sum of first 4 numbers is 6
The sum of first 4 numbers is 10

In [193]:
n=4
sum_n=int((n*(n+1))/2)
print('The sum of first',n,'numbers is', sum_n)

The sum of first 4 numbers is 10

In [200]:
# running a loop unless we get a defined name
name=""
while name!='Python':
    name=input("Enter name:")
print("Hello Python thanks for confirmation")

Enter name:Ahmed
Enter name:machine
Enter name:learning
Enter name:python
Enter name:anaconda
Enter name:Python
Hello Python thanks for confirmation

In [ ]:
name=""
password=""
while (name!='Python') & (password!='anaconda'):
    name=input("Enter the name:")
    password=input("Enter the password:")
print("Hello Python thanks for conformation")

### 'del' is a keyword which deletes a vaiable permanently.

- 'del' removes both variable and its object.
- To remove unnecessary data.

In [194]:
s1='python'
s2='jupyter'

In [195]:
print(s1)
print(s2)

python
jupyter

In [196]:

del s1

# String object doesnt support item deletion for below syntax
# del s2[3]

### 'None' is a keyword which removes object.

- 'None' is used to keep variable but to remove its object we use 'None'.

In [197]:
x=10
y=20


del x
y=None
print(y)

None

In [198]:
a=10
b=10
c=10

#del a
b=None

print(a)
print(b)
print(c)

print(id(a))
print(id(b))
print(id(c))

del a
b=None

print(b)
print(c)

10
None
10
1706061152
1705616528
1706061152
None
10

In [199]:
s='alpha'
print('p'in s)
print('f'in s)

True
False